.actionsCell {
  width: 32px;
}

.actionsCell > button,
.actionsCell > a {
  background-color: transparent;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
  display: inline;
  text-shadow: 0 0 0 transparent;
  vertical-align: middle;

  &:hover {
    border: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    text-shadow: 0 0 0 transparent;
  }
}

.contentCell {
  vertical-align: middle;
}

.cardFooterButton {
  /* background: none !important; */
  border: none;
  color: var(--link-color);
  cursor: pointer;
  font: inherit;
  height: auto;
  padding: 0 !important;

  &:hover {
    color: hsl(0, 0%, 21%);
  }
}
