<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/@{{ app.OrganizationId }}/{{ app.path }}" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,width=device-width"
    />
    <meta
      name="theme-color"
      content="{{ (app.definition.theme && app.definition.theme.themeColor) || '#ffffff' }}"
    />
    <link rel="icon" sizes="16x16" href="/{{ app.id }}/icon-16.png" />
    <link rel="icon" sizes="32x32" href="/{{ app.id }}/icon-32.png" />
    <link rel="icon" sizes="96x96" href="/{{ app.id }}/icon-96.png" />
    <link rel="icon" sizes="128x128" href="/{{ app.id }}/icon-128.png" />
    <link rel="icon" sizes="192x192" href="/{{ app.id }}/icon-192.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ app.id }}/icon-76.png?opaque" />
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ app.id }}/icon-120.png?opaque" />
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ app.id }}/icon-152.png?opaque" />
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ app.id }}/icon-144.png?opaque" />
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ app.id }}/icon-152.png?opaque" />
    <link rel="apple-touch-icon" sizes="167x167" href="/{{ app.id }}/icon-167.png?opaque" />
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ app.id }}/icon-180.png?opaque" />
    <!-- This *must* be the bottom one. -->
    <link rel="apple-touch-icon" href="/{{ app.id }}/icon-57.png?opaque" />
    <link rel="manifest" href="/{{ app.id }}/manifest.json" />
    <title>{{ app.definition.name }}</title>
    <link rel="stylesheet" href="{{{ bulmaURL }}}" id="bulma-style-app" />
    <link rel="stylesheet" href="{{{ faURL }}}" />
    <link
      rel="stylesheet"
      href="/api/organizations/{{ app.OrganizationId }}/style/shared"
      id="organization-style-shared"
    />
    <link
      rel="stylesheet"
      href="/api/organizations/{{ app.OrganizationId }}/style/core"
      id="organization-style-core"
    />
    {{#app.style}}
    <link rel="stylesheet" href="/api/apps/{{ app.id }}/style/core" id="appsemble-style-core" />
    {{/app.style}} {{#app.sharedStyle}}
    <link rel="stylesheet" href="/api/apps/{{ app.id }}/style/shared" id="appsemble-style-shared" />
    {{/app.sharedStyle}} {{{settings }}}
  </head>
  <body>
    <div class="is-fixed-top is-primary navbar">
      <header class="navbar-brand">
        <h1 class="navbar-item title is-4">{{ app.definition.name }}</h1>
      </header>
    </div>
    <div id="app">
      <noscript>
        <section class="section">
          <p class="container">
            JavaScript seems to be disabled. <br />
            Please enable JavaScript in your browser settings.
          </p>
        </section>
      </noscript>
    </div>
  </body>
</html>
