.socialLogins {
  box-sizing: border-box;
  flex-flow: column;
  margin: 20px auto;
  max-width: 480px;
  padding: 10px;
}

.socialButton {
  margin-right: 5px;
}

.links {
  display: grid;
  justify-content: right;
  margin-top: -25px;
  padding-right: 20px;
}

.registerLink {
  z-index: 1;
}
