.image {
  margin: auto;
}

.appCard {
  position: relative;
  text-align: center;
}

.appCardContent {
  padding-bottom: 65px;
}

.appDescription {
  word-wrap: break-word;
}

.appCardFooter {
  bottom: 0;
  position: absolute;
  width: 100%;
}
